@scale : 2.0;
@fontsize: 14px;

@text : "ONLINE";
@color : @online_color;

@text : "OFFLINE";
@color : @offline_color;


@online_color : #00ff4e;
@offline_color : #ff004e;

@size : 200px;

body{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100vh;
  width: 100vw;
  margin:0;
  background:#181D26;
}

.signal {
  
  width: @size;
  height: @size;
  position: relative;
  margin: 0 auto;
  transform: scale(@scale);
  
}
.signal:before {
  
  background-size: 100% 100%;
  content: @text;
  line-height: (@size + @fontsize*0.3);
  color: @color;
  font-size: @fontsize;
  font-family: "HEAVITAS", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: @size;
  height: @size;
  margin: 0 auto;
  position: absolute;
  
  z-index: 99999 !important;
}

.spinner{
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}


.spinner svg path{
  top:0;
  left:0;
  fill:none;
  stroke-width:2;
  stroke: @color;
  positon:absolute;
  mix-blend-mode: multiply;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  animation: 5s linear infinite;
}

.spinner svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: .2s;
}
.spinner svg path:nth-child(2) {
  opacity: .5;
  animation-name: rotate-2;
  animation-delay: .2s;
}
.spinner svg path:nth-child(3) {
  opacity: .8;
  animation-name: rotate-3;
  animation-delay: .2s;
}


@keyframes scale-1 {
  0%{
    transform: scale(1);
  }50% {
    transform: scale(.9);
  }100% {
    transform: scale(1);
  } 
}

@keyframes rotate-0 {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 

@keyframes rotate-1 {
  from { transform: rotate(0deg); }
    to { transform: rotate(0deg); }
}

@keyframes rotate-2 {
  from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes rotate-3 {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}